@font-face {
    font-family: inter-bold;
    src: url('Inter_24pt-Bold.ttf');
}
@font-face {
    font-family: inter;
    src: url('Inter-VariableFont_opsz,wght.ttf');
    font-weight: 400;
    font-size: 36px;
}

.title {
    font-family: inter-bold;
    font-size: 64px;
    text-align: center;
    
}

.structure {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#display {
    height: 486px;
    width: 828px;
    text-align:center;
    font-family: inter-bold;
    font-size: 24px;
    text-align: left;
}

#stats {
    height: 486px;
    width: 828px;
    text-align: center;
    font-family: inter-bold;
    font-size: 36px;
}

#pokeImage {
    height: 463px;
    width: 463px;
    border: 4px solid black;
}

#buttonLeft, #buttonRight, #info, #moves {
    width: 173px;
    height: 69px;
    background-color: #E8E8E8;
    border: none;
    border-radius: 10px;
    font-family: inter;
    font-size: 36px;
}

#buttonRight {
    rotate: 180deg;
}

#list {
    width: 486px;
    height: 598px;
    background-color: #E8E8E8;
}

#name {
    width: 463px;
    height: 67px;
    background-color: #E8E8E8;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-family: inter;
    font-weight: 400;
    font-size: 36px;
}

#type {
    width: 117px;
    height: 41px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: inter;
    font-weight: 400;
    font-size: 24px;
}

