@font-face {
    font-family: inter-bold;
    src: url('Inter_24pt-Bold.ttf');
}
@font-face {
    font-family: inter;
    src: url('Inter-VariableFont_opsz,wght.ttf');
    font-weight: 400;
    font-size: 36px;
}

.title {
    font-family: inter-bold;
    font-size: 64px;
    text-align: center;
    margin: 15px;
    
}

.structure {
    display: flex;
    flex-direction: row;
}

#typeLabel {
    margin: 20px;
}

#display {
    height: 486px;
    width: 828px;
    text-align: center;
    font-family: inter-bold;
    font-size: 24px;
    text-align: left;
}

#stats {
    height: 486px;
    width: 828px;
    align-items: center;
    text-align: center;
    font-family: inter-bold;
    font-size: 36px;
}

#pokeImage {
    height: 463px;
    width: 463px;
    border: 4px solid black;
    margin: 20px;
}

#buttonLeft, #buttonRight, #info, #moves {
    width: 173px;
    height: 69px;
    background-color: #E8E8E8;
    border: none;
    border-radius: 10px;
    font-family: inter;
    font-size: 36px;
    margin: 10px;
}

#buttonLeft {
    margin-left: 12.5%;
}

#buttonRight {
    rotate: 180deg;
}

#list {
    width: 486px;
    height: 598px;
    background-color: #E8E8E8;
    padding: 20px;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#name {
    width: 463px;
    height: 67px;
    background-color: #E8E8E8;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-family: inter;
    font-weight: 400;
    font-size: 36px;
    margin: 20px;
}

#type {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.types {
    width: 117px;
    height: 41px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: inter;
    font-weight: 400;
    font-size: 24px;
    margin: 5px;
}

.moves, .info {
    font-family: inter;
    size: 36px;
    margin: 0;
}